
{% extends 'horizon/common/_data_table.html' %}

{% load i18n %}

{% comment %}
{% if table.pagination and table.position != 'bottom' %}
  {% block table_caption %}
  {{ table.position }}
      <tr class='table_caption'>
        <th class='table_header' colspan='{{ columns|length }}'>
          <h3 class='table_title'>{{ table }}</h3>
          {{ table.render_table_actions }}
          {% if table.pagination and table.position == "both" or table.position == "top" %}
            <div class="pull-right">
              {% include "horizon_contrib/tables/pagination.html" %}
            </div>
          {% endif %}
        </th>
      </tr>
  {% endblock table_caption %}
{% endif %}
{% endcomment %}

{% block table_footer %}
  {% if table.footer %}
  <tfoot>
    {% if table.pagination and table.position == "both" or table.position == "bottom" %}
      <tr>
        <td colspan="{{ table.get_columns|length }}">
          <span style="float:right!important;margin-top:9px;" class="table_count">{% blocktrans count counter=rows|length %}Displaying {{ counter }} item{% plural %}Displaying {{ counter }} items{% endblocktrans %}</span>
          {% include "horizon_contrib/tables/pagination.html" %}
        </td>
      </tr>
      {% if table.needs_summary_row %}
      <tr class="summation">
        {% for column in columns %}
          {% if forloop.first %}
          <td>{% trans "Summary" %}</td>
          {% else %}
          <td>{{ column.get_summation|default_if_none:"&ndash;"}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endif %}  
    {% else %}
      {% if table.needs_summary_row %}
      <tr class="summation">
        {% for column in columns %}
          {% if forloop.first %}
          <td>{% trans "Summary" %}</td>
          {% else %}
          <td>{{ column.get_summation|default_if_none:"&ndash;"}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endif %}
      <tr>
        <td colspan="{{ table.get_columns|length }}">
          <span class="table_count">{% blocktrans count counter=rows|length %}Displaying {{ counter }} item{% plural %}Displaying {{ counter }} items{% endblocktrans %}</span>
          {% if table.has_more_data %}
          <span class="spacer">|</span>
          <a href="?{{ table.get_pagination_string }}">More&nbsp;&raquo;</a>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  </tfoot>
  {% endif %}
{% endblock table_footer %}
